@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat&family=Nunito:wght@300&family=Pacifico&display=swap");

:root {
  --shadow-offset: 3px;
  --shadow-blur: 10px;
  --shadow-light-color: #ffffff;
  --shadow-dark-color: #c4c4ca;
  --shadow-plain: var(--shadow-offset) var(--shadow-offset) var(--shadow-blur)
      var(--shadow-dark-color),
    calc(var(--shadow-offset) * -1) calc(var(--shadow-offset) * -1)
      var(--shadow-blur) var(--shadow-light-color);
  --shadow-pressed-inset: inset var(--shadow-offset) var(--shadow-offset)
      var(--shadow-blur) var(--shadow-dark-color),
    inset calc(var(--shadow-offset) * -1) calc(var(--shadow-offset) * -1)
      var(--shadow-blur) var(--shadow-light-color);
  --shadow-bulged-inset: inset var(--shadow-offset) var(--shadow-offset)
      var(--shadow-blur) var(--shadow-light-color),
    inset calc(var(--shadow-offset) * -1) calc(var(--shadow-offset) * -1)
      var(--shadow-blur) var(--shadow-dark-color);
  --shadow-bulged: var(--shadow-plain), var(--shadow-bulged-inset);
  --shadow-pressed: var(--shadow-plain), var(--shadow-pressed-inset);
  --background-primary: #e6e7ee;
  --background-secondary: #f0f0f0;
  --background-tetriary: #eff1ff;
  --background-gradient: linear-gradient(145deg, #f6f7ff, #cfd0d6);
  --foreground-primary: #31344b;
  --foreground-secondary: #888a90;
  --foreground-tetriary: #444444;
  --font-text: "Montserrat", sans-serif;
  --font-title: "Cinzel", serif;
  --font-ui: "Nunito", sans-serif;
  --font-cursive: "Pacifico", cursive;
  --font-size-title: 16pt;
  --font-size-text: 12pt;
  --font-size-ui: 10pt;
  --font-size-misc: 8pt;
  --font-size-title-secondary: 14pt;
  --font-size-text-secondary: 10pt;
  --font-size-text-tetriary: 8pt;
}

* {
  transition: all 0.5s ease-in-out;
  font-family: var(--font-text);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--background-primary);
  color: var(--foreground-primary);
}

main {
  flex: 1;
  margin: 0 0 5% 0;
}

header {
  width: 100%;
  text-align: center;
  padding: 0 0 5px 0;
  background: var(--background-gradient);
  box-shadow: var(--shadow-plain);
}

header h1 {
  font-size: var(--font-size-title);
  margin-bottom: 0;
  font-family: var(--font-title);
}

header h3 {
  margin-top: 5px;
  font-size: var(--font-size-ui);
  color: var(--foreground-secondary);
  font-weight: normal;
}

footer {
  margin-top: auto;
  box-sizing: border-box;
  width: 100%;
  color: var(--foreground-secondary);
  text-align: left;
  font-size: var(--font-size-text-tetriary);
  padding: 15px;
  line-height: 0.8;
  background: var(--background-gradient);
  box-shadow: var(--shadow-plain);
}

footer a {
  color: var(--foreground-tetriary);
}

button {
  padding: 10px;
  transition-duration: 0.1s;
  cursor: pointer;
  font-family: var(--font-ui);
  border: none;
  border-radius: 50px;
  background: var(--background-primary);
  box-shadow: var(--shadow-bulged);
}

button:hover {
  box-shadow: var(--shadow-plain);
}

button:active {
  box-shadow: var(--shadow-pressed);
}

button:disabled,
button[disabled] {
  pointer-events: none;
  color: var(--foreground-secondary);
  box-shadow: var(--shadow-plain);
}

select {
  background: none;
  padding: 10px;
  margin: 5px;
  font-family: var(--font-ui);
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background: var(--background-primary);
  box-shadow: var(--shadow-bulged);
}

select:hover {
  box-shadow: var(--shadow-plain);
}

input[type="search"] {
  background: none;
  padding: 10px;
  font-size: var(--font-size-ui);
  font-family: var(--font-ui);
  border: none;
  border-radius: 50px;
  background: var(--background-primary);
  box-shadow: var(--shadow-bulged);
}

input[type="search"]:hover {
  box-shadow: var(--shadow-plain);
}

input[type="search"]:focus {
  outline: none;
  box-shadow: var(--shadow-pressed);
}
.search {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search-checkbox {
  margin: 5px;
  position: relative;
  border: none;
  border-radius: 50px;
}

.search-checkbox-body {
  border-radius: 50px;
  padding: 10px;
  font-family: var(--font-ui);
  background: var(--background-primary);
  box-shadow: var(--shadow-bulged);
  font-size: var(--font-size-ui);
}

input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.search-checkbox input[type="checkbox"]:checked ~ .search-checkbox-body {
  box-shadow: var(--shadow-plain);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  font-size: var(--font-size-ui);
}

.dropdown-content {
  margin: 10px;
  display: block;
  position: absolute;
  background-color: var(--background-primary);
  overflow: auto;
  border-radius: 10px;
  z-index: -1;
  opacity: 0;
  transition-duration: 0.5s;
  visibility: hidden;
  overflow: auto;
  max-height: 200%;
}

.dropdown-content a {
  color: var(--foreground-primary);
  padding: 1vh 2vh;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  box-shadow: var(--shadow-bulged);
}

.dropdown-content-show {
  display: block;
  opacity: 1;
  visibility: visible;
  box-shadow: var(--shadow-pressed-inset);
}

.modal {
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
}

.modal-closed {
  opacity: 0;
  visibility: hidden;
}
.modal-closed .details-modal {
  transform: translateX(-50%);
}

.modal-background {
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.1;
  width: 100vw;
  height: 100vh;
}

.details-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 50vw;
  min-height: 70vh;
  overflow: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  padding: 2vh;
  border-radius: 50px;
  background: var(--background-primary);

  box-shadow: 0 0 30px #888888, var(--shadow-bulged-inset);
  flex-flow: row wrap;
}

.details-cover {
  width: 35vh;
  height: 49vh;
  position: relative;

  box-shadow: 0 0 30px var(--shadow-dark-color), var(--shadow-bulged-inset);
}

.details-cover:hover .details-cover-copyright {
  opacity: 0;
}

.details-cover-copyright-show {
  display: block !important;
}

.details-cover:hover {
  transform: scale(110%);
  box-shadow: 0 0 calc(var(--shadow-blur) * 2) var(--shadow-dark-color),
    var(--shadow-bulged-inset);
}

.details-cover-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-cover-copyright {
  position: absolute;
  display: none;
  width: 20%;
  height: auto;
  left: 2%;
  top: 2%;
}

.details-desc {
  text-align: center;
  width: 40vh;
  font-size: var(--font-size-text);
  background-color: var(--background-primary);
}

.details-desc h1 {
  font-size: var(--font-size-title);
  font-family: var(--font-title);
}

.details-description {
  text-align: left;
}

.details-subjects {
  text-decoration: underline dotted;
  cursor: pointer;
}

.details-subjects-content {
  text-decoration: none;
  cursor: auto;
  position: absolute;
  transform: translateY(-100%);
  padding: 1vw;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  background: var(--background-primary);
  z-index: 1;
  width: 40vh;
  height: 100%
  transition-delay: 0s;
  text-align: left;
  box-shadow: var(--shadow-pressed);
}

.details-subjects:hover .details-subjects-content {
  visibility: visible;
  opacity: 1;
  transition-delay: 2s;
}

.details-buttons {
  white-space: nowrap;
}

.bookshelf {
  position: relative;
  box-sizing: border-box;
  vertical-align: bottom;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 80%;
}

.book {
  position: relative;
  margin-top: 2em;
  margin-right: 0;
  padding: 0 20px;
  text-decoration: none;
}

.book img {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 210px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 var(--shadow-blur) var(--shadow-dark-color),
    var(--shadow-bulged-inset);
}

.book img,
.details-cover-image {
  text-align: center;
  font-family: var(--font-cursive);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.book:hover {
  transform: scale(110%);
}

.book:hover img {
  box-shadow: 0 0 calc(var(--shadow-blur) * 2) var(--shadow-dark-color),
    var(--shadow-bulged-inset);
}

.book:hover .book-desc {
  opacity: 0.8;
}

.book-desc {
  position: absolute;
  top: 0;
  left: 20px;
  display: block;
  opacity: 0;
  border-radius: 5px;
  padding: 0px 10px;
  overflow: auto;
  height: 210px;
  width: 130px;
  background-color: var(--background-tetriary);
  cursor: pointer;
}

.book-desc h1 {
  font-size: var(--font-size-title-secondary);
  font-weight: bold;
  font-family: var(--font-title);
}

.book-desc p {
  font-size: var(--font-size-text-secondary);
}

.load-more {
  display: flex;
  justify-content: center;
  align-content: center;
}

.loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.loaded {
  opacity: 0;
}

.loader-wrapper {
  border-radius: 50%;
  box-shadow: var(--shadow-bulged);
}

.loader-spinner {
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: transparent;
  border-left-color: transparent;
  animation: you-spin-me-right-round-baby-right-round 2s linear infinite;
  width: 36px;
  height: 36px;
}

@keyframes you-spin-me-right-round-baby-right-round {
  0% {
    transform: rotate(0deg);
    box-shadow: none;
  }

  50% {
    transform: rotate(360deg);
    box-shadow: inset 0px 0px 10px var(--shadow-dark-color);
  }

  100% {
    transform: rotate(720deg);
    box-shadow: none;
  }
}
